{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}

    <h1>Panneau d'administration</h1>

    {% for user in users %}
        {% if user != app.user %}
            {{user.pseudo}}<br>
            {{user.email}}<br>
            {% if not user.isAdmin %}
                <a href="{{path('admin_promote', {'id':user.id})}}">Promouvoir</a><br>
            {% else %}
                <span>[Administrateur]</span>
            {% endif %}
            <br>
        {% endif %}
    {% endfor %}

{% endblock %}