{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bienvenue sur FormaCenter</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a nibh non neque semper molestie vel eu ipsum. In nec diam turpis. 
        Vestibulum posuere ullamcorper ornare. Morbi interdum tellus ac accumsan fringilla. Vivamus id egestas ligula. Nullam mauris elit, 
        efficitur sit amet ultrices eu, pellentesque at diam. Cras ac nulla fermentum, tempor lectus a, tincidunt ligula. Phasellus pretium 
        dapibus eros, ut interdum nunc iaculis eget. Mauris sagittis porttitor interdum. Suspendisse ante diam, scelerisque ac vestibulum ut, 
        faucibus sed enim. Morbi aliquet mauris in turpis aliquam volutpat. Vivamus velit est, aliquam non egestas vel, posuere ut magna.
    </p>

{% endblock %}
