/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/

:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --first-color: hsl(251, 64%, 54%);
    --first-color-alt: hsl(251, 64%, 40%);
    --title-color: hsl(251, 16%, 15%);
    --text-color: hsl(251, 16%, 35%);
    --text-color-light: hsl(251, 8%, 55%);
    --body-color: hsl(251, 100%, 96%);
    --container-color: hsl(251, 100%, 97%);


    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --title-font: "Playfair Display", serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    /* transition: background 0.4s; for dark mode animation */
}

h1, h2 {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-align: center;
}

h1{
    font-family: var(--title-font);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*=============== THEME ===============*/

    /*======== Variables Dark Theme ========*/

/*=============== REUSABLE CSS CLASSES ===============*/

.titre-section{
    margin-bottom: 3rem;
}

.section{
    margin-top: 6rem;
}


/*=============== HEADER & NAV ===============*/

.header{
    position:fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    height: var(--header-height);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav__user-btn{
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.header__logo{
    font-style: italic;
    /* color: var(--first-color); */
}

/*=============== HOME ===============*/

.home__text{
    padding-inline: 1rem;
}

.home__login{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content : center;
}

.button{
    background-color: var(--first-color);
    padding: .75rem 1.2rem;
    border-radius: 4rem;
    color: #fff;
    transition: background .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}