/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/

:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --first-color: hsl(251, 64%, 54%);
    --first-color-alt: hsl(251, 64%, 40%);
    --title-color: hsl(251, 16%, 15%);
    --text-color: hsl(251, 16%, 35%);
    --text-color-light: hsl(251, 8%, 55%);
    --body-color: hsl(251, 100%, 96%);
    --container-color: hsl(251, 100%, 97%);
    --input-border-color: hsl(250, 8%, 75%);


    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --title-font: "Playfair Display", serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h2-font-size: 1.2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    /* transition: background 0.4s; for dark mode animation */
}

h1, h2, h3 {
    color: var(--title-color);
    text-align: center;
    font-family: var(--title-font);
    font-weight: var(--font-bold);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
    margin-block: .75rem;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*=============== THEME ===============*/

.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  .change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
  }


    /*======== Variables Dark Theme ========*/

/*=============== REUSABLE CSS CLASSES ===============*/

.titre-section{
    margin-bottom: 3rem;
}

.titre-soussection{
    margin-block: 2rem;
    font-size: var(--h2-font-size);
}

.section{
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.icon-background {
    color: var(--first-color);
}

.back-arrow{
    color: #fff;
}

.back-arrow-stack{
    position: absolute;
    left: .9rem;
    top: 3rem;
}

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.link{
    color : var(--first-color)
}

/*============== BOUTONS ==============*/

.button{
    padding: .75rem 1.2rem;
    border: none;
    border-radius: 4rem;
    color: #fff;
    transition: background .3s;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    cursor: pointer;
}

.button-purple{
    background-color: var(--first-color);
}

.button-purple:hover{
    background-color: var(--first-color-alt);
}

.button-green{
    background-color: hsl(139, 64%, 40%);
}

.button-green:hover{
    background-color: hsl(139, 64%, 54%);
}

.button-valider{
    margin-top: 3rem;
}

.button-nvsession{
    margin-block: 3rem;
}


.two-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem
}

/*=============== FORMS ===============*/

.form-group{
    display: flex;
    flex-direction: column;
    width: 70%
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

input{
    border: 1px solid var(--input-border-color);
    border-radius: .33rem;
    background-color: #fff;
    height: 1.5rem;
    padding-left: .8rem;
}


/*=============== HEADER & NAV ===============*/

.header{
    position:fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    height: var(--header-height);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav__logo,
.nav__toggle,
.nav__close{
  display: flex;
  color: var(--title-color);
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu{
      position: fixed;
      top: -100%;
      left: 0;
      background-color: var(--body-color);
      width: 100%;
      box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
      padding-block: 2rem;
      transition: top .8s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
}

.header__logo{
    font-style: italic;
    /* color: var(--first-color); */
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
  
/* Show menu */

.show-menu{
    top:0;
}

/* Change background header */

.bg-header{
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
  }

/*=============== HOME ===============*/

.home__text{
    padding-inline: 1rem;
}

.home__login{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content : center;
}

/*=============== REGISTER ===============*/

.form-terms{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: .9rem;
    margin-bottom: 1.5rem;
}

/*=============== SESSIONS INDEX ===============*/

.sessions-index__none{
    margin-block: 1.5rem;
    font-style: italic ;
    text-align: center;
}

.card-container{
    margin-block: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : .75rem;
    justify-content: center;

}

.card{
    width: 20rem;
    background-color: rgba(255, 255, 255, .7) ;
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
    border-radius: 1.5rem;
    padding: .4rem .4rem .4rem 1rem;
    position: relative;
}

/*=============== ADD SESSIONS ===============*/
/* .add-session__dates{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: .75rem;
    flex-wrap: wrap;
} */


/*=============== SHOW STAGIAIRE ===============*/

.button-unsub{
    font-size: 18pt;
    position: absolute;
    right : .8rem;
    top : .1rem;
    color:  hsl(20, 63%, 73%) ;
    transition: color .5s;
}

.button-unsub:hover{
    color:  hsl(20, 63%, 53%) ;
}

/*=============== LISTE MODULES ===============*/

.liste-modules__module{
    margin-left: 20% ;
}

/*=============== DETAILS SESSION =============*/

.show-session__titre{
    margin-bottom: .5rem;
}

.show-session__infos{
    text-align: center;
}

.show-session__liste-programmes{
    text-align: center;
}

.show-session__button-unsub{
    color:  hsl(20, 63%, 73%) ;
    transition: color .5s;
}

.show-session__button-unsub:hover{
    color:  hsl(20, 63%, 53%) ;
}

.show-session__form{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.show-session__form-add{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color :hsl(115, 64%, 53%);
    transition: color .5s;
}

.show-session__form-add:hover{
    color :hsl(115, 64%, 33%);
}

.show-session__participants{
    text-align: right;
    width: fit-content;
    margin-inline: auto;
}

/*=============== RESPONSIVE =============*/

@media screen and (min-width: 768px){
    .nav{
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close
    {
        display: none;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu{
        margin-left: auto;
    }
}


@media screen and (min-width: 1024px){

    .liste-modules__module{
        margin-left: 40%;
    }

    .form-group{
        width: 30%;
    }
}

@media screen and (min-width: 1064px){
    .container{
      margin-inline: auto;
    }
}