{% extends 'base.html.twig' %}

{% block title %}Modules de formation{% endblock %}

{% block body %}

    <h1>Liste des modules de formation</h1>

    {% for module in modules %}

        {{module.categorie}} : {{module}}<br>

    {% endfor %}

{% endblock %}
