{% extends 'base.html.twig' %}

{% block title %}Modules de formation{% endblock %}

{% block body %}

    <h1>Liste des modules de formation</h1>

    {% for categorie in categories %}

        <h2>{{categorie}}</h2>
        
        {% for module in modules %}

            {% if module.categorie == categorie %}
                {{module}}<br>
            {% endif %}

        {% endfor %}

    {% endfor %}

{% endblock %}
