{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}


    <h1>Détails de la session</h1>

    <p>
        {{session.intituleSession}}<br>
        Du {{session.dateDebut}} au {{session.dateFin}}<br>
        {{session.nbPlaces}} places disponibles
    </p>


{% endblock %}
